html ::-webkit-scrollbar {
  display: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 200vh;
  scroll-behavior: smooth;
}

.wpapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: red;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 7vh 0;
  background: url(../img/large/header-bg.png) no-repeat center;
  background-color: #ffff;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 4rem;
  color: rgba(255, 2, 2, 0.815);
  font-weight: 650;
  text-transform: uppercase;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

@media (max-width: 999px) {
  .header__title {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    font-size: 2.5rem;
  }
}

.header__text {
  font-size: 2rem;
  justify-items: flex-end;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 20vw;
  color: rgba(245, 128, 128, 0.925);
}

@media (max-width: 999px) {
  .header__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    justify-items: auto;
    margin: 10px;
    font-size: 1.2rem;
  }
}

.menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 7vh;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  position: fixed;
  width: 100%;
  background-color: #fff;
}

.menu__logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: block;
  float: left;
  max-width: 20vw;
}

@media (min-width: 1300px) {
  .menu__logo {
    max-width: 10vw;
  }
}

.menu__list {
  list-style-type: none;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__item {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(209, 119, 119, 0.979);
  display: block;
  font-size: 1.5rem;
}

.menu__link:hover {
  color: rgba(255, 0, 0, 0.932);
}

@media (max-width: 1000px) {
  .menu__link {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .menu__link {
    font-size: 0.8rem;
  }
}

.about {
  background: url(../img/large/about-bg.jpg) center fixed;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10vh;
}

.about__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-transform: uppercase;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.about__text {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: rgba(206, 235, 236, 0.192);
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 735px) {
  .about__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.about__image {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 400px;
  max-height: 300px;
  display: block;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.034);
}

.services {
  background: url(../img/large/services-bg.jpg) center fixed;
  background-size: cover;
  min-height: 100vh;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40vw 40vw;
      grid-template-columns: 40vw 40vw;
  -ms-grid-rows: 10vh 1fr 1fr;
      grid-template-rows: 10vh 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 10vh;
}

@media (max-width: 735px) {
  .services {
    -ms-grid-columns: 85vw;
        grid-template-columns: 85vw;
    -ms-grid-rows: 20vh 1fr 1fr 1fr 1fr;
        grid-template-rows: 20vh 1fr 1fr 1fr 1fr;
  }
}

.services__title {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  text-justify: center;
  text-transform: uppercase;
  margin: auto;
  font-size: 2.5rem;
}

@media (max-width: 735px) {
  .services__title {
    font-size: 1.5rem;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media (max-width: 485px) {
  .services__title {
    font-size: 1.2rem;
  }
}

.services__item {
  margin: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: rgba(209, 196, 196, 0.219);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__service-title {
  text-transform: capitalize;
}

@media (max-width: 1150px) {
  .services__service-title {
    font-size: 1.7rem;
  }
}

@media (max-width: 920px) {
  .services__service-title {
    font-size: 1.4rem;
  }
}

@media (max-width: 735px) {
  .services__service-title {
    font-size: 1rem;
  }
}

.services__service-image {
  display: block;
  max-width: 30vw;
}

@media (max-width: 735px) {
  .services__service-image {
    max-width: 70vw;
  }
}

.services__service-text {
  margin: 10px 20px;
}

.services__service-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.services__btn-img {
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.034);
}

.services__btn-img:hover {
  border: 10px solid #ee1919;
}

.galery {
  background: url(../img/large/galery-bg.jpg) center fixed;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 10vh;
  padding-bottom: 2rem;
}

.contact {
  background: url(../img/large/contact-bg.jpg) center fixed;
  background-size: cover;
  min-height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 10vh;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.contact__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: auto;
  text-transform: uppercase;
  text-justify: center;
  padding: 25px auto;
}

.contact__item {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.contact__subtitle {
  margin: auto;
}

.footer {
  background-color: whitesmoke;
  min-height: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

.footer__social {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__item {
  display: inline-block;
  margin: 0 20px;
}

.footer__rights {
  text-justify: center;
  -ms-grid-row: 2;
  grid-row: 2;
  color: #575555;
  font-size: 0.7rem;
  -ms-grid-column-align: center;
      justify-self: center;
  text-justify: center;
}

.fa {
  text-justify: center;
  text-align: center;
  font-size: 24px;
  width: 30px;
  height: 30px;
  padding: 7px;
  background: #e20808;
  color: #d8c9c3;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fa:hover {
  background: #b98488;
  color: #e03333;
}
/*# sourceMappingURL=main.css.map */