.contact {
    background: url(../img/large/contact-bg.jpg) center fixed;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 10vh;
}