.footer {
    background-color: whitesmoke;
    min-height: 20vh;
    display: grid;
    flex-basis: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-rows: 1fr auto;
    
    &__social {
        grid-row: 1;
        align-self: center;
    }
    &__list {
        margin: auto;
        padding-inline-start: 0px;
    }
    &__item {
        display: inline-block;
        margin: 0 20px;
    }
    &__rights {
        text-justify: center;
        grid-row: 2;
        color: rgb(87, 85, 85);
        font-size: 0.7rem;
        justify-self: center;
        text-justify: center;
    }
}
.fa {
    text-justify: center;
    text-align: center;
    font-size: 24px;
	width: 30px;
    height: 30px;
    padding: 7px;
	background: rgb(226, 8, 8);
	color: #d8c9c3;
	border-radius: 50%;
    transition: all 0.3s;
    &:hover {
        background: #b98488;
	    color: rgb(224, 51, 51);
    }
    @media (max-width: 400px){
        font-size: 18px;
	    width: 24px;
        height: 24px;
    }
}