.menu {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 7vh;
    justify-content: stretch;
    position: fixed;
    width: 100%;
    background-color: #fff;

    &__logo {
        flex-basis: 20%;
        display: block;
        float: left;
        max-width: 20vw;
        @media (min-width: 1300px){
            max-width: 10vw;
        }
    }
    &__list {
        list-style-type: none;
        flex-basis: auto;
        display: flex;
        flex-basis: 75%;
        justify-content: space-evenly;
        
    }
    &__item {
        display: block;
        align-self: center;
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: rgba(209, 119, 119, 0.979);
        display: block;
        font-size: 1.5rem;
        &:hover {
            color: rgba(255, 0, 0, 0.932);
        }
        @media (max-width: 1000px) {
            font-size: 1rem;
        }
        @media (max-width: 500px) {
            font-size: 0.8rem;
        }
    }

}